In [3]:
import pandas as pd

In [8]:
path = "../data/final_birds_list_with_no_mistakes.csv"

df = pd.read_csv(path, index_col=0).drop("X", axis=1)

In [10]:
df.columns

Index(['Species.name', 'Realm', 'TrophicLevel', 'TrophicNiche',
       'ForagingNiche', 'GenbankID', 'Taxonomy', 'Gene.name',
       'Gene.start.end.and.trend', 'GeneID', 'Aminoacids.from.genbank',
       'Translated.aminoacids.by.Python', 'Not.standart.codons',
       'Wrong.amino.num', 'Wrong.nucl.num', 'wrong.amino..', 'Sequence',
       'mtDNA.length', 'nA', 'nT', 'nC', 'nG', 'nNA', 'X.A', 'X.T', 'X.C',
       'X.G', 'X.NA', 'wrong.amino...1', 'neutralA', 'neutralG', 'neutralC',
       'neutralT', 'Neutral.count', 'TTT', 'TTC', 'TTA', 'TTG', 'TCT', 'TCC',
       'TCA', 'TCG', 'TAT', 'TAC', 'TGT', 'TGC', 'TGG', 'CTT', 'CTC', 'CTA',
       'CTG', 'CCT', 'CCC', 'CCA', 'CCG', 'CAT', 'CAC', 'CAA', 'CAG', 'CGT',
       'CGC', 'CGA', 'CGG', 'ATT', 'ATC', 'ATA', 'ATG', 'ACT', 'ACC', 'ACA',
       'ACG', 'AAT', 'AAC', 'AAA', 'AAG', 'AGT', 'AGC', 'AGA', 'AGG', 'GTT',
       'GTC', 'GTA', 'GTG', 'GCT', 'GCC', 'GCA', 'GCG', 'GAT', 'GAC', 'GAA',
       'GAG', 'GGT', 'GGC', 'GGA', 'GGG', 'TAA', 'TAG', 'TGA', 'temp'],
      dtype='object')

In [44]:
df.shape

(9958, 99)

In [48]:
df.head(1).T.iloc[:-65]

                                                                                 1
Species.name                                                  Acanthisitta chloris
Realm                                                                   Australian
TrophicLevel                                                             Carnivore
TrophicNiche                                                           Invertivore
ForagingNiche                                                     Invertivore bark
GenbankID                                                              [NC_051004]
Taxonomy                         ['Eukaryota', 'Metazoa', 'Chordata', 'Craniata...
Gene.name                                                                    [ND2]
Gene.start.end.and.trend                                            [4018:5057](+)
GeneID                                                             GeneID:59701857
Aminoacids.from.genbank          MNPQAKLISLTSLLLGTTITISSNHWMMAWTGLEINTLAILPLISK...
Translated.aminoacids.by.Python  MNPQAKLISLTSLLLGTTITISSNHWMMAWTGLEINTLAILPLISK...
Not.standart.codons                                                              2
Wrong.amino.num                                                                  2
Wrong.nucl.num                                                              TNCCNC
wrong.amino..                                                             0.578035
Sequence                         ATGAACCCCCAGGCAAAATTAATCTCCCTTACTAGCCTGCTCCTAG...
mtDNA.length                                                                  1039
nA                                                                             286
nT                                                                             250
nC                                                                             376
nG                                                                             125
nNA                                                                              2
X.A                                                                       0.275265
X.T                                                                       0.240616
X.C                                                                       0.361886
X.G                                                                       0.120308
X.NA                                                                      0.001925
wrong.amino...1                                                           0.578035
neutralA                                                                        66
neutralG                                                                        19
neutralC                                                                        86
neutralT                                                                        37
Neutral.count                                                                  208

In [12]:
df["Gene.name"].value_counts()

[ND2]     766
[ND3]     766
[ATP8]    766
[ND1]     766
[ND4]     766
[COX3]    766
[ATP6]    766
[ND4L]    766
[CYTB]    766
[COX1]    766
[ND5]     766
[ND6]     766
[COX2]    766
Name: Gene.name, dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9958 entries, 1 to 10030
Data columns (total 99 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Species.name                     9958 non-null   object
 1   Realm                            9958 non-null   object
 2   TrophicLevel                     9958 non-null   object
 3   TrophicNiche                     9958 non-null   object
 4   ForagingNiche                    7280 non-null   object
 5   GenbankID                        9958 non-null   object
 6   Taxonomy                         9958 non-null   object
 7   Gene.name                        9958 non-null   object
 8   Gene.start.end.and.trend         9958 non-null   object
 9   GeneID                           9958 non-null   object
 10  Aminoacids.from.genbank          9958 non-null   object
 11  Translated.aminoacids.by.Python  9958 non-null   object
 12  Not.standart.codons              9958 non-null   int64
 13  Wrong.amino.num                  9958 non-null   int64
 14  Wrong.nucl.num                   183 non-null    object
 15  wrong.amino..                    9958 non-null   float64
 16  Sequence                         9958 non-null   object
 17  mtDNA.length                     9958 non-null   int64
 18  nA                               9958 non-null   int64
 19  nT                               9958 non-null   int64
 20  nC                               9958 non-null   int64
 21  nG                               9958 non-null   int64
 22  nNA                              9958 non-null   int64
 23  X.A                              9958 non-null   float64
 24  X.T                              9958 non-null   float64
 25  X.C                              9958 non-null   float64
 26  X.G                              9958 non-null   float64
 27  X.NA                             9958 non-null   float64
 28  wrong.amino...1                  9958 non-null   float64
 29  neutralA                         9958 non-null   int64
 30  neutralG                         9958 non-null   int64
 31  neutralC                         9958 non-null   int64
 32  neutralT                         9958 non-null   int64
 33  Neutral.count                    9958 non-null   int64
 34  TTT                              9958 non-null   int64
 35  TTC                              9958 non-null   int64
 36  TTA                              9958 non-null   int64
 37  TTG                              9958 non-null   int64
 38  TCT                              9958 non-null   int64
 39  TCC                              9958 non-null   int64
 40  TCA                              9958 non-null   int64
 41  TCG                              9958 non-null   int64
 42  TAT                              9958 non-null   int64
 43  TAC                              9958 non-null   int64
 44  TGT                              9958 non-null   int64
 45  TGC                              9958 non-null   int64
 46  TGG                              9958 non-null   int64
 47  CTT                              9958 non-null   int64
 48  CTC                              9958 non-null   int64
 49  CTA                              9958 non-null   int64
 50  CTG                              9958 non-null   int64
 51  CCT                              9958 non-null   int64
 52  CCC                              9958 non-null   int64
 53  CCA                              9958 non-null   int64
 54  CCG                              9958 non-null   int64
 55  CAT                              9958 non-null   int64
 56  CAC                              9958 non-null   int64
 57  CAA                              9958 non-null   int64
 58  CAG                              9958 non-null   int64
 59  CGT                              9958 non-null   int64
 60  CGC                              9958 non-null   int64
 61  CGA                              9958 non-null   int64
 62  CGG                              9958 non-null   int64
 63  ATT                              9958 non-null   int64
 64  ATC                              9958 non-null   int64
 65  ATA                              9958 non-null   int64
 66  ATG                              9958 non-null   int64
 67  ACT                              9958 non-null   int64
 68  ACC                              9958 non-null   int64
 69  ACA                              9958 non-null   int64
 70  ACG                              9958 non-null   int64
 71  AAT                              9958 non-null   int64
 72  AAC                              9958 non-null   int64
 73  AAA                              9958 non-null   int64
 74  AAG                              9958 non-null   int64
 75  AGT                              9958 non-null   int64
 76  AGC                              9958 non-null   int64
 77  AGA                              9958 non-null   int64
 78  AGG                              9958 non-null   int64
 79  GTT                              9958 non-null   int64
 80  GTC                              9958 non-null   int64
 81  GTA                              9958 non-null   int64
 82  GTG                              9958 non-null   int64
 83  GCT                              9958 non-null   int64
 84  GCC                              9958 non-null   int64
 85  GCA                              9958 non-null   int64
 86  GCG                              9958 non-null   int64
 87  GAT                              9958 non-null   int64
 88  GAC                              9958 non-null   int64
 89  GAA                              9958 non-null   int64
 90  GAG                              9958 non-null   int64
 91  GGT                              9958 non-null   int64
 92  GGC                              9958 non-null   int64
 93  GGA                              9958 non-null   int64
 94  GGG                              9958 non-null   int64
 95  TAA                              9958 non-null   int64
 96  TAG                              9958 non-null   int64
 97  TGA                              9958 non-null   int64
 98  temp                             9958 non-null   int64
dtypes: float64(7), int64(78), object(14)
memory usage: 7.6+ MB

In [25]:
df["ForagingNiche"].isna().sum()

2678

In [33]:
df.nunique().reset_index().T

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
index,Species.name,Realm,TrophicLevel,TrophicNiche,ForagingNiche,GenbankID,Taxonomy,Gene.name,Gene.start.end.and.trend,GeneID,...,GAA,GAG,GGT,GGC,GGA,GGG,TAA,TAG,TGA,temp
0,766,9,4,10,30,766,468,13,4091,9958,...,17,9,18,27,35,28,2,2,18,1

In [43]:
df[df.columns[:-65]].nunique().reset_index()

                              index     0
0                      Species.name   766
1                             Realm     9
2                      TrophicLevel     4
3                      TrophicNiche    10
4                     ForagingNiche    30
5                         GenbankID   766
6                          Taxonomy   468
7                         Gene.name    13
8          Gene.start.end.and.trend  4091
9                            GeneID  9958
10          Aminoacids.from.genbank  9280
11  Translated.aminoacids.by.Python  9295
12              Not.standart.codons    18
13                  Wrong.amino.num    18
14                   Wrong.nucl.num   124
15                    wrong.amino..    66
16                         Sequence  9821
17                     mtDNA.length   116
18                               nA   487
19                               nT   441
20                               nC   586
21                               nG   269
22                              nNA    18
23                              X.A  1623
24                              X.T  1750
25                              X.C  1912
26                              X.G  1377
27                             X.NA    72
28                  wrong.amino...1    66
29                         neutralA   185
30                         neutralG    65
31                         neutralC   183
32                         neutralT    86
33                    Neutral.count   281

In [55]:
df[df["Gene.name"] == "[ND2]"].Sequence.apply(len).head(30)

1      1039
19     1041
29     1041
48     1041
62     1040
70     1039
81     1040
94     1040
111    1040
124    1041
136    1039
146    1041
162    1039
177    1039
190    1039
203    1040
215    1040
229    1040
240    1040
256    1040
273    1040
275    1040
296    1040
309    1040
317    1040
333    1039
348    1040
358    1039
369    1040
387    1039
Name: Sequence, dtype: int64

### AA

In [62]:
sum(df["Aminoacids.from.genbank"] == df["Translated.aminoacids.by.Python"])

7750

In [58]:
df["Aminoacids.from.genbank"].values[0]

'MNPQAKLISLTSLLLGTTITISSNHWMMAWTGLEINTLAILPLISKSHHPRAIEATIKYFLVQASASALILFSSTVNAWTTGQWDITQLTHPLACLLLTMAIAMKLGLVPFHFWFPEVLQGSSLTTALLLSTAMKLPPLVLLTLSHPSLNPLLLITMAVASAALGGWMGLNQTQTRKILAFSSISHLGWMAAIIIFNPKLSLLTFYLYALMTSSTFLTLNTMKTLKLSTMMTAWTKTPALSMTLMLTLLSLAGLPPLTGFLPKWMIIQELTKQEMTPAATIMALLSLLSLFFXXRLTYCATITLPPNSANHMKQWRISKSTNPLLAPLLAPSIILLPLSPMIPAIT'

In [59]:
df["Translated.aminoacids.by.Python"].values[0]

'MNPQAKLISLTSLLLGTTITISSNHWMMAWTGLEINTLAILPLISKSHHPRAIEATIKYFLVQASASALILFSSTVNAWTTGQWDITQLTHPLACLLLTMAIAMKLGLVPFHFWFPEVLQGSSLTTALLLSTAMKLPPLVLLTLSHPSLNPLLLITMAVASAALGGWMGLNQTQTRKILAFSSISHLGWMAAIIIFNPKLSLLTFYLYALMTSSTFLTLNTMKTLKLSTMMTAWTKTPALSMTLMLTLLSLAGLPPLTGFLPKWMIIQELTKQEMTPAATIMALLSLLSLFFЮЮRLTYCATITLPPNSANHMKQWRISKSTNPLLAPLLAPSIILLPLSPMIPAIT'

In [63]:
i = 0
for x,y in zip(df["Aminoacids.from.genbank"].values[0], df["Translated.aminoacids.by.Python"].values[0]):
    if x != y:
        print(i, x, y)
    i += 1

292 X Ю
293 X Ю

### Taxonomy

In [78]:
df["Taxonomy"].values[80]

"['Eukaryota', 'Metazoa', 'Chordata', 'Craniata', 'Vertebrata', 'Euteleostomi', 'Archelosauria', 'Archosauria', 'Dinosauria', 'Saurischia', 'Theropoda', 'Coelurosauria', 'Aves', 'Neognathae', 'Bucerotiformes', 'Bucerotidae', 'Aceros']"